RewriteEngine On

<Files "db.php">
    Require all denied
</Files>

RewriteRule ^login\.html$ /login [QSA,L]
RewriteRule ^admin-panel\.php$ /admin-panel [QSA,L]
RewriteRule ^give-idea\.php$ /give-idea [QSA,L]